<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <a class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong>Betway Uganda</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    <a>BU</a>
                </div>
            </li>
            <li class="active">
                <a href="/Manager/Index"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>

            </li>
            <li>
                <a href="/Recept/Statement"><i class="fa fa-line-chart"></i> <span class="nav-label">Reports</span></a>
            </li>
            <li>
                <a href="/Recept/Index"><i class="fa fa-money"></i> <span class="nav-label">Sales</span></a>
            </li>
            <li>
                <a href="/Transfers/CashTransfer"><i class="fa fa-yelp"></i> <span class="nav-label">Transfers</span></a>
            </li>
            <li>
                <a href="/Recept/Payments"><i class="fa fa-google-wallet"></i> <span class="nav-label">Payments</span></a>
               
            </li>
            <li>
                <a href="/Fixtures/GenerateFixtures"><i class="fa fa-list"></i> <span class="nav-label">Fixtures</span></a>
                
            </li>
        </ul>
    </div>
</nav>
